/* Universal + navbar styling */
body {
    margin:0;
}

html {
    scroll-behavior: smooth;
}

nav {
    border-bottom: 1px solid rgb(92, 92, 92);
    box-shadow: 0px 1px #000,
                0px 2px #ccc,
                0px 3px rgb(224, 224, 224);
}

.nav-list {
    margin: 10px 0px;
    display: flex;
    list-style-type: none;
    padding:15px;
}

.nav-list-item a {
    margin: 0px 30px;
    padding: 10px;
}

.nav-list-item a:link,
.nav-list-item a:visited {
    text-decoration: none;
    font-weight: bold;
    color:black;
}

.nav-list-item.nav-active a {
    background-color: rgb(231, 231, 231);
    border-radius:5px;
}

.nav-list-item a:hover {
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius:5px;
}

/* Home page styling */
.home {
    text-align: center;
}

#construction {
    display: flex;
    justify-content: center;
    align-items: center;
}

#construction img {
    max-width: 60%;
}

/* Writeups home styling */

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.cards-container a:hover figure{
    background-color: rgb(156, 156, 156);
    color: black;
}

.cards-container a {
    text-decoration: none;
    margin: 25px 30px;
}

.cards-container figure {
    margin: 0;
    border: 3px solid #6b6b6b;
    background-color: #000000;
    color: #ececec;
    padding: 25px;
    width:250px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cards-container figure img {
    width: 100%;
    border: 5px solid rgb(175, 149, 0);
    border-radius: 20px;
    margin-bottom: 25px;
}

.cards-container figure figcaption {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.writeups-intro {
    padding: 15px;
}

/* Writeup page styling */

.writeup-header,
.writeup-description,
.page-anchors,
.writeup-section-header,
.writeup-header-caption {
    margin-left: 15px;
}

.writeup-header {
    display: flex;
    align-items: center;
}

.writeup-header-caption h1, .writeup-header-caption p {
    margin: 0;
}

.writeup-header img {
    margin-top: 15px;
    border-radius: 10px;
}

.writeup-section-header {
    text-decoration: underline;
}

.solve-number {
    font-size: 10px;
}

.challenge {
    margin: 15px;
    padding: 15px;
    border: 5px solid black;
}

.challenge img {
    width: 50%;
    border: 2px solid black;
}

.instructions p{
    font-size: 14px;
    font-style: italic;
}

.flag {
    font-weight: bold;
}

code {
    white-space: pre
}